<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accentColorHex</key>
	<string>#59676FFF</string>
	<key>accentColorHexDark</key>
	<string>#86A67CFF</string>
	<key>accentColorHexLight</key>
	<string>#59676FFF</string>
	<key>alternateRowColorHexDark</key>
	<string>#212224FF</string>
	<key>alternateRowColorHexLight</key>
	<string>#DDDDDDFF</string>
	<key>alternateRowsEnabled</key>
	<true/>
	<key>appearanceMode</key>
	<integer>1</integer>
	<key>beautyModeEnabled</key>
	<false/>
	<key>beautyModeEnabledDark</key>
	<true/>
	<key>beautyModeEnabledLight</key>
	<false/>
	<key>briefColumnWidth</key>
	<real>400.0</real>
	<key>briefRowHeight</key>
	<real>39.0</real>
	<key>buttonBarVisible</key>
	<true/>
	<key>centerDividerWidth</key>
	<real>80.0</real>
	<key>contextMenu.custom.v1</key>
	<false/>
	<key>contextMenu.extra.v1</key>
	<array/>
	<key>contextMenu.main.v1</key>
	<array/>
	<key>cursorAnchorX</key>
	<real>0.5053879310344828</real>
	<key>cursorAnchorY</key>
	<real>0.5066451149425287</real>
	<key>cursorBackgroundColorHex</key>
	<string>#FFFFFFFF</string>
	<key>cursorBackgroundColorHexDark</key>
	<string>#393939FF</string>
	<key>cursorBackgroundColorHexLight</key>
	<string>#FFFFFFFF</string>
	<key>cursorBlur</key>
	<real>0.8367066062176165</real>
	<key>cursorBlurX</key>
	<real>150.0</real>
	<key>cursorCorner</key>
	<real>4.826877934272301</real>
	<key>cursorFeatherCoreOpacity</key>
	<real>1.0</real>
	<key>cursorFeatherHardness</key>
	<real>0.5554150763358778</real>
	<key>cursorFeatherSpread</key>
	<real>-0.1014544930875576</real>
	<key>cursorFeatherSteepness</key>
	<real>1.0</real>
	<key>cursorFontZoomAmount</key>
	<real>1.17970476519337</real>
	<key>cursorFontZoomEnabled</key>
	<true/>
	<key>cursorHeight</key>
	<real>1.0</real>
	<key>cursorIconZoomAmount</key>
	<real>1.217325621546961</real>
	<key>cursorIconZoomEnabled</key>
	<true/>
	<key>cursorIconZoomSpread</key>
	<integer>0</integer>
	<key>cursorNameColorHex</key>
	<string>#6E0CCBFF</string>
	<key>cursorNameColorHexDark</key>
	<string>#A0C841FF</string>
	<key>cursorNameColorHexLight</key>
	<string>#6E0CCBFF</string>
	<key>cursorOffsetX</key>
	<real>0.623629385964847</real>
	<key>cursorOffsetY</key>
	<real>0.2158717105263186</real>
	<key>cursorOutlineColorHex</key>
	<string>#7EA671</string>
	<key>cursorOutlineColorHexDark</key>
	<string>#7EA671</string>
	<key>cursorOutlineColorHexLight</key>
	<string>#7EA671</string>
	<key>cursorOutlineEnabled</key>
	<false/>
	<key>cursorOutlineEnabledDark</key>
	<false/>
	<key>cursorOutlineEnabledLight</key>
	<false/>
	<key>cursorOutlineWidth</key>
	<real>0.5</real>
	<key>cursorUnderColorHex</key>
	<string>#227CF5FF</string>
	<key>cursorUnderColorHexDark</key>
	<string>#227CF5FF</string>
	<key>cursorUnderNameColorHex</key>
	<string>#00D4FFFF</string>
	<key>cursorUnderNameColorHexDark</key>
	<string>#FFFFFFFF</string>
	<key>cursorUnderNameColorHexLight</key>
	<string>#00D4FFFF</string>
	<key>cursorUsesCustomColor</key>
	<false/>
	<key>cursorUsesCustomColorDark</key>
	<false/>
	<key>cursorUsesCustomColorLight</key>
	<false/>
	<key>cursorWidth</key>
	<real>1.0</real>
	<key>dividerBorderOpacity</key>
	<real>0.45</real>
	<key>dividerBorderWidth</key>
	<real>1.0</real>
	<key>dividerIconSpacing</key>
	<real>10.0</real>
	<key>dividerOffsetY</key>
	<real>100.0</real>
	<key>dividerShowLabels</key>
	<true/>
	<key>dividerShowQuickLinks</key>
	<true/>
	<key>doubleClickIntervalSeconds</key>
	<real>0.4</real>
	<key>fcxl.backspaceAsBack</key>
	<false/>
	<key>fcxl.bookContents</key>
	<true/>
	<key>fcxl.bookScrolling</key>
	<false/>
	<key>fcxl.breadcrumbSelectAll</key>
	<true/>
	<key>fcxl.calculateFolderSizes</key>
	<true/>
	<key>fcxl.cmdQToQuit</key>
	<false/>
	<key>fcxl.columnOrder</key>
	<array>
		<string>type</string>
		<string>dateAdded</string>
		<string>permissions</string>
		<string>owner</string>
		<string>origin</string>
		<string>size</string>
		<string>dateModified</string>
		<string>dateCreated</string>
	</array>
	<key>fcxl.commonViewMode</key>
	<string>brief</string>
	<key>fcxl.ctxMenuBlurDim</key>
	<real>0.3</real>
	<key>fcxl.ctxMenuBlurFeather</key>
	<real>1.0</real>
	<key>fcxl.ctxMenuBlurSoftness</key>
	<real>100.0</real>
	<key>fcxl.ctxMenuBlurStrength</key>
	<real>0.4</real>
	<key>fcxl.ctxMenuCaptions</key>
	<true/>
	<key>fcxl.ctxMenuCornerRadius</key>
	<real>6.0</real>
	<key>fcxl.ctxMenuFontSize</key>
	<real>13.0</real>
	<key>fcxl.ctxMenuIconSize</key>
	<real>18.0</real>
	<key>fcxl.ctxMenuMinWidth</key>
	<real>255.0</real>
	<key>fcxl.ctxMenuPadding</key>
	<real>15.0</real>
	<key>fcxl.ctxMenuRowHeight</key>
	<real>35.0</real>
	<key>fcxl.cursorMaskBlurStash</key>
	<real>5.295941500711237</real>
	<key>fcxl.cursorMaskGradCore</key>
	<real>0.11585708889949109</real>
	<key>fcxl.cursorMaskGradCoreV</key>
	<real>0.34936038883587783</real>
	<key>fcxl.cursorMaskGradHOn</key>
	<true/>
	<key>fcxl.cursorMaskGradKind</key>
	<string>gradientEdges</string>
	<key>fcxl.cursorMaskGradKindV</key>
	<string>gradientEdges</string>
	<key>fcxl.cursorMaskGradPosition</key>
	<real>0.5043932888040712</real>
	<key>fcxl.cursorMaskGradPositionV</key>
	<real>0.5057031746978371</real>
	<key>fcxl.cursorMaskGradSoftness</key>
	<real>1.0</real>
	<key>fcxl.cursorMaskGradSoftnessV</key>
	<real>1.0</real>
	<key>fcxl.cursorMaskGradVOn</key>
	<true/>
	<key>fcxl.cursorMaskVerticalGradient</key>
	<true/>
	<key>fcxl.customCursorMaskEnabled</key>
	<true/>
	<key>fcxl.customCursorMaskEnabledDark</key>
	<false/>
	<key>fcxl.customCursorMaskEnabledLight</key>
	<true/>
	<key>fcxl.customCursorMaskRevision</key>
	<integer>106</integer>
	<key>fcxl.diffContextLines</key>
	<integer>2</integer>
	<key>fcxl.djvuThumbnails</key>
	<true/>
	<key>fcxl.dragDropConfirm</key>
	<true/>
	<key>fcxl.editorInPanel</key>
	<true/>
	<key>fcxl.fileColorRules</key>
	<data>
	W3siZnJlc2hNaW51dGVzIjo1LCJtYXNrIjoiIiwiZGFya0NvbG9ySGV4IjoiIzFBRTI2
	OUZGIiwiaXNFbmFibGVkIjp0cnVlLCJpZCI6IjMxMzYxNzY0LUE3QkItNDk1RC05MzhE
	LUZDNjZBRTBCRTA1OSIsImNvbG9ySGV4IjoiIzBEQTM0QUZGIiwiZmFkZXMiOnRydWV9
	LHsiY29sb3JIZXgiOiIjOEUzODEwRkYiLCJkYXJrQ29sb3JIZXgiOiIjRUU5ODIwRkYi
	LCJpZCI6IjJGNjMzN0YxLTJENDYtNDUwRC1CNTQ2LTFGRDBCRUJBQTJFNiIsImlzRW5h
	YmxlZCI6dHJ1ZSwiZmFkZXMiOnRydWUsIm1hc2siOiIqLmFwcDsqLmRtZzsqLnBrZzsq
	LmNvbW1hbmQ7Ki5iaW47Ki5ydW47Ki5leGUifSx7ImNvbG9ySGV4IjoiI0EyODQ1RSIs
	ImRhcmtDb2xvckhleCI6IiIsImlkIjoiQzlCNjBGNEUtNEQxRi00OTAwLUEyN0YtOUY2
	MTE2NzNBNzhBIiwiaXNFbmFibGVkIjpmYWxzZSwiZmFkZXMiOmZhbHNlLCJtYXNrIjoi
	Ki56aXA7Ki5yYXI7Ki43ejsqLnRhcjsqLmd6OyouYnoyOyoueHo7Ki50Z3o7Ki50Yno7
	Ki50eHoifSx7ImNvbG9ySGV4IjoiIzEzNTdBMUZGIiwiZGFya0NvbG9ySGV4IjoiIzVF
	QUJGRkZGIiwiaWQiOiI3NDQwQUM1MS0zMTIxLTQ1NDktQjg5Ri00NTlGNEYwRTVDNjUi
	LCJpc0VuYWJsZWQiOnRydWUsImZhZGVzIjpmYWxzZSwibWFzayI6IioucG5nOyouanBn
	OyouanBlZzsqLmdpZjsqLndlYnA7Ki5oZWljOyouYm1wOyoudGlmZjsqLnN2ZzsqLmF2
	aWYifSx7ImNvbG9ySGV4IjoiI0FGNTJERSIsImRhcmtDb2xvckhleCI6IiIsImlkIjoi
	QUU1NjI3NkYtQjRCOS00QTIxLTk1MDgtQzAwNzY5MzIxQTk5IiwiaXNFbmFibGVkIjpm
	YWxzZSwiZmFkZXMiOmZhbHNlLCJtYXNrIjoiKi5tcDM7Ki5hYWM7Ki53YXY7Ki5mbGFj
	Oyoub2dnOyoubTRhIn0seyJjb2xvckhleCI6IiM2QTBEMUZGRiIsImRhcmtDb2xvckhl
	eCI6IiIsImlkIjoiQjQ3NUZERUMtQURDOC00MUM0LUE2NjUtNjdCOTVDNjdCQzA4Iiwi
	aXNFbmFibGVkIjpmYWxzZSwiZmFkZXMiOmZhbHNlLCJtYXNrIjoiKi5tcDQ7Ki5tb3Y7
	Ki5ta3Y7Ki5hdmk7Ki53ZWJtOyoubTR2In0seyJjb2xvckhleCI6IiNGRjNCMzAiLCJk
	YXJrQ29sb3JIZXgiOiIiLCJpZCI6IkNCNUE4Njc4LUFDMjAtNDA0OS1BQTNELUQ5Q0I5
	NTNFNDk4RiIsImlzRW5hYmxlZCI6ZmFsc2UsImZhZGVzIjpmYWxzZSwibWFzayI6Iiou
	cGRmIn0seyJjb2xvckhleCI6IiM1RTVDRTYiLCJkYXJrQ29sb3JIZXgiOiIiLCJpZCI6
	IjU1RTk4ODFGLTkyNkUtNDJGMS1CQkUyLTUwM0VDQzNDQkFBOCIsImlzRW5hYmxlZCI6
	ZmFsc2UsImZhZGVzIjpmYWxzZSwibWFzayI6IiouZGp2dTsqLmRqdjsqLmVwdWI7Ki5m
	YjI7Ki5mYnoifSx7ImNvbG9ySGV4IjoiIzI1N0YzQ0ZGIiwiZGFya0NvbG9ySGV4Ijoi
	IiwiaWQiOiI2QjQ0N0UwRi05QzhELTQzMTItOUY1RS1GMkQ1OUE5MEQ2NjUiLCJpc0Vu
	YWJsZWQiOmZhbHNlLCJmYWRlcyI6ZmFsc2UsIm1hc2siOiIqLnR4dDsqLnJ0ZjsqLmxv
	ZyJ9LHsiY29sb3JIZXgiOiIjMzBCMEM3IiwiZGFya0NvbG9ySGV4IjoiIiwiaWQiOiJF
	MDQyNkVBMS0xMDFDLTQ4MTUtQTI0NC1GREUwMzdCNDJEOUUiLCJpc0VuYWJsZWQiOmZh
	bHNlLCJmYWRlcyI6ZmFsc2UsIm1hc2siOiIqLnN3aWZ0OyoubTsqLm1tOyouaDsqLmhw
	cDsqLmM7Ki5jYzsqLmNwcDsqLmN4eDsqLmdvOyoucnM7Ki5weTsqLmpzOyoudHM7Ki50
	c3g7Ki5qc3g7Ki5qYXZhOyoua3Q7Ki5yYjsqLnBocDsqLmNzOyouanNvbjsqLnlhbWw7
	Ki55bWw7Ki50b21sOyoueG1sOyouaHRtbDsqLmNzczsqLnNjc3M7Ki5tZDsqLnNoOyou
	enNoOyouYmFzaCJ9XQ==
	</data>
	<key>fcxl.folderSizeLoadPercent</key>
	<integer>10</integer>
	<key>fcxl.includeCursorInOperations</key>
	<true/>
	<key>fcxl.maskPresets</key>
	<array/>
	<key>fcxl.maxConcurrentTransfers</key>
	<integer>3</integer>
	<key>fcxl.pdfThumbnails</key>
	<false/>
	<key>fcxl.quickViewMode</key>
	<string>custom</string>
	<key>fcxl.remoteDirectToQueue</key>
	<false/>
	<key>fcxl.saveViewModePerTab</key>
	<false/>
	<key>fcxl.savedColors</key>
	<string>#DAD7D2,#112028,#4D93BC,#7EA671,#A0C841,#FF9F30</string>
	<key>fcxl.spaceAction</key>
	<string>quickView</string>
	<key>fcxl.toolbarLook</key>
	<string>icons</string>
	<key>fcxl.toolbarSeparators</key>
	<true/>
	<key>fcxl.viewerInPanel</key>
	<true/>
	<key>fileNameColorHex</key>
	<string>#1F4153FF</string>
	<key>fileNameColorHexDark</key>
	<string>#A5FFF4FF</string>
	<key>fileNameColorHexLight</key>
	<string>#1F4153FF</string>
	<key>folderIconColorHex</key>
	<string>#EF9B51FF</string>
	<key>folderIconColorHexDark</key>
	<string>#FF8D30FF</string>
	<key>folderIconColorHexLight</key>
	<string>#EF9B51FF</string>
	<key>folderIconStyle</key>
	<string>catalogV4</string>
	<key>folderNameColorHex</key>
	<string>#234E5FFF</string>
	<key>folderNameColorHexDark</key>
	<string>#A0C841FF</string>
	<key>folderNameColorHexLight</key>
	<string>#234E5FFF</string>
	<key>iconEdgeInset</key>
	<real>8.491319444444441</real>
	<key>iconNameGap</key>
	<real>16.0</real>
	<key>iconScale</key>
	<real>2.17</real>
	<key>interfaceColorHexDark</key>
	<string>#434343FF</string>
	<key>interfaceColorHexLight</key>
	<string>#DADADAFF</string>
	<key>leftColumnWidths</key>
	<dict>
		<key>created</key>
		<real>136.89453125</real>
		<key>name</key>
		<real>377.68359375</real>
		<key>type</key>
		<real>147.71875</real>
	</dict>
	<key>leftViewMode</key>
	<string>brief</string>
	<key>leftVisibleColumns</key>
	<array>
		<string>dateAdded</string>
		<string>name</string>
		<string>size</string>
		<string>type</string>
	</array>
	<key>listFontBold</key>
	<false/>
	<key>listFontFamily</key>
	<string></string>
	<key>listFontSize</key>
	<real>12.182631277746944</real>
	<key>listLetterSpacing</key>
	<real>0.3493072527314576</real>
	<key>listLineSpacing</key>
	<real>0.0</real>
	<key>panelBackgroundColorHex</key>
	<string>#0D1D27FF</string>
	<key>panelBackgroundColorHexDark</key>
	<string>#242527FF</string>
	<key>panelBackgroundColorHexLight</key>
	<string>#E7E7E7FF</string>
	<key>panelDividerOpacity</key>
	<real>0.0</real>
	<key>panelEdgePadding</key>
	<real>22.5</real>
	<key>panelSectionDividers</key>
	<false/>
	<key>quickLinksGap</key>
	<real>0.0</real>
	<key>rightColumnWidths</key>
	<dict>
		<key>added</key>
		<real>153.39453125</real>
		<key>modified</key>
		<real>120.0</real>
		<key>name</key>
		<real>393.0</real>
		<key>size</key>
		<real>72.0</real>
		<key>type</key>
		<real>70.0</real>
	</dict>
	<key>rightViewMode</key>
	<string>brief</string>
	<key>rightVisibleColumns</key>
	<array>
		<string>dateAdded</string>
		<string>name</string>
		<string>size</string>
		<string>type</string>
	</array>
	<key>selectedNameColorHex</key>
	<string>#E81894FF</string>
	<key>selectedNameColorHexLight</key>
	<string>#E81894FF</string>
	<key>showCustomFolderIcons</key>
	<true/>
	<key>skipCancelConfirmation</key>
	<true/>
	<key>skipCopyMoveDialog</key>
	<false/>
	<key>skipDeleteDialog</key>
	<false/>
	<key>skipExtractDialog</key>
	<false/>
	<key>skipPackDialog</key>
	<false/>
	<key>tabAccentColor</key>
	<string>graphite</string>
	<key>tabActiveOpacity</key>
	<real>0.7</real>
	<key>tabActiveTitleColorHex</key>
	<string>#FFFFFFFF</string>
	<key>tabActiveTitleColorHexLight</key>
	<string>#FFFFFFFF</string>
	<key>tabBarBackgroundColorHex</key>
	<string>#E8E8E8FF</string>
	<key>tabBarHeight</key>
	<real>32.0</real>
	<key>tabBarOffsetY</key>
	<real>0.0</real>
	<key>tabBarSpacing</key>
	<real>4.0</real>
	<key>tabChipHeight</key>
	<real>30.0</real>
	<key>tabCornerRadius</key>
	<real>10.0</real>
	<key>tabFontSize</key>
	<real>10.0</real>
	<key>tabMaxWidth</key>
	<real>140.0</real>
	<key>tabMinWidth</key>
	<real>120.0</real>
	<key>terminalPlacement</key>
	<string>activePanel</string>
	<key>thumbnailCellSize</key>
	<real>210.0</real>
	<key>titleBarColorHex</key>
	<string>#424242FF</string>
	<key>titleBarHeight</key>
	<real>28.0</real>
	<key>titlebarColorHexDark</key>
	<string>#434343FF</string>
	<key>titlebarColorHexLight</key>
	<string>#5A666FFF</string>
	<key>trafficLightOffsetY</key>
	<real>0.0</real>
	<key>upIconColorHex</key>
	<string>#800007FF</string>
	<key>upIconScale</key>
	<real>0.8500000000000001</real>
	<key>upIconSymbol</key>
	<string>arrow.up.circle</string>
	<key>upIconWeight</key>
	<real>0.0</real>
</dict>
</plist>
